/* applies to all components, makes them fit in the box */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* maintains wrapper height (height of center box) at 100% */

.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* specifies font, and the gradient for the background. The three colors below are cylced through, change the "4s" to adjust the speed of the color shift */

body {
  font-family: sans-serif;
  background: linear-gradient(-90deg, orange, pink, rgb(112, 214, 112), aqua);
  background-size: 500% 500%;
  animation: gradient 4s ease-in-out infinite;
}

/* keyframes below specify how much of each color is present at each stage of the animation */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* positions the center box, and aligns the text within it to center */

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* adjusts the position, color, and center alignment of the the header "Password generator" */

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 100%, 98%);
}

/* card is where the new password, or placeholder for it are held, below specifies the color, position, and alignment */

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}


.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;

}

/* "generate password" button, red button */

.btn {
  border: solid darkblue 5px;
  background-color: red;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;

}

/* "highlight/select all" button, grey button */

.btn1 {
  border: solid darkblue 5px;
  background-color: gray;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;

}

/* both buttons will become yellow with red border when they are hover over */

.btn:hover {
  background-color: yellow;
  color: hsl(0, 0%, 0%);
  border: solid red 5px;
}

.btn1:hover {
  background-color: yellow;
  color: hsl(0, 0%, 0%);
  border: solid red 5px;
}

/* positions and creates a box around where the password will be generated, specified the style of the completed password/placeholder */

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* specifies the max sizes of buttons and fonts, to allow for mobile friendly use */

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }


  .btn1 {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}